.App {
  text-align: center;
}
.paper {
  padding: 30px;
  margin: 10px;
}

.MuiButton-contained.button {
  margin: 1em;
}
.agree {
  padding: 15px;
}
.banner,
.header {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #333;
}
.formBackground {
  background-color: #f2efef;
  padding-top: 25px;
  min-height: 100vh;
}
.background {
  background-color: #d1cccc;
  width: 100vw;
  min-height: 100vh;
}

.container {
  width: 100vw;
  min-height: 100vh;
}
.centeredContainer {
  width: 70vw;
  min-height: 100vh;
}

td {
  text-align: left;
  padding-right: 25px;
}
